<!-- <div class="modal-header">
  <h4 class="modal-title">Ló törlése</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>Biztosan ki akarja törölni a következő lót? <br> <b>{{name}}</b></p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-primary" ngbAutofocus (click)="activeModal.dismiss()">Mégse</button>
  <button type="button" class="btn btn-danger" (click)="activeModal.close()">Törlés</button>
</div> -->
