<!-- app-main-menu component inserts the menu navbar on each pages-->
<app-main-menu></app-main-menu>

<!-- Index hero section -->
<link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>


<div id="hero">
  <div class="welcome-box">
    <h1>Üdvözöljük a Western lovasverseny oldalán </h1>
  </div>
</div>

<!-- Footer -->
<footer class="page-footer footer-color-dark">

  <div class="footer-copyright text-center ">© 2019 Copyright: Progmatic Academy

  </div>
</footer>