.bg-brown{
  background-color: #4A4843;
  padding: 0px;
}

.logo{
  position: absolute; top: 10pt; left: 10pt; z-index: 100;
}
.navbar{
  min-height: 70px;
  
  
}
.nav-ul, .nav-li {
  color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  font-size: 12px;
  
  
  
}

.sub-menu {
  
  position: absolute;
  display: none;
  padding: 10px;
  vertical-align: center;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  background-color: #4A4843;
 
  
}

.sub-menu > li {
  
  display: block;
  cursor: pointer;
  background-color: #4A4843;
  
}

.sub-menu :hover{
  
  background-color: rgba(167, 155, 130,0.4)
}

.sub-menu :active {
  
  background: rgba(255, 111, 97, 0.3);
  
}

li:hover .sub-menu {
  display: block;
 
}



.dropdown-item {
  padding: 8px;
  
}