<ng-container *ngIf="! editMode">
    <td>{{ rider.name }}</td>
    <td>{{ rider.yearOfBirth }}</td>
    <td>{{ rider.status }}</td>
    <td>{{ rider.phoneNumber }}</td>
    <td>{{ rider.email }}</td>
    <td>{{ rider.nameOfCoach }}</td>
    <td>{{ rider.ranchName }}</td>
    <td>{{ rider.startNumbers }}</td>

    <td>
        <button type="button" class="btn btn-outline-secondary btn-sm" (click)="setEditMode(true)">Szerkesztés</button>
    </td>
  </ng-container>
  <ng-container *ngIf="editMode">
    <td>
        <input type="text" class="form-control" [(ngModel)]="cloneRider.name">
    </td>
    <td>
        <input type="number" class="form-control"  [(ngModel)]="cloneRider.yearOfBirth">
    </td>
    <td>
        <input type="text" class="form-control" [(ngModel)]="cloneRider.status">
    </td>
    <td>
        <input type="text" class="form-control" [(ngModel)]="cloneRider.phoneNumber">
    </td>
    <td>
        <input type="text" class="form-control"  [(ngModel)]="cloneRider.email">
    </td>
    <td>
        <input type="text" class="form-control"  [(ngModel)]="cloneRider.nameOfCoach">
    </td>
    <td>
        <input type="text" class="form-control" [(ngModel)]="cloneRider.ranchName">
    </td>
    <td>
        <input type="text" class="form-control" [(ngModel)]="cloneRider.startNumbers">
    </td>
   
    <td>
        <button type="button" class="btn btn-primary btn-sm" (click)="saveRider()" [disabled]="isSaving">
            <span *ngIf="isSaving" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span *ngIf="isSaving">Mentés folyamatban...</span>
            <span *ngIf="! isSaving">Mentés</span>
        </button>
        <button type="button" class="btn btn-secondary btn-sm" (click)="setEditMode(false)" *ngIf="! isSaving">Mégse</button>
    </td>
  </ng-container>