.btn {
    background-color: rgba(255, 111, 97, 0.8);
    color: white;
    padding: 1em 1.5em;
    border: #4A4843;
    margin-top: 70px;
}

.btn:hover {
  background-color: #4A4843;
}

.btn:active {
  background-color: rgb(255, 111, 97);
}

h1{
  padding-top: 70px;
}
